@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebMvcUI.ViewModel.VM_ProductAdd

<form method="post" asp-controller="Product" asp-action="ProductAdd">
    <div class="container p-3">

        <h2 class="text-primary">
            Add New Product
        </h2>


        <div class="row pt-4">

            <div class="mb-3">
                <label asp-for="ProductName" style="padding-bottom: 5px">ProductName</label>
                <input asp-for="ProductName" class="form-control" required />
                <span asp-validation-for="ProductName" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label asp-for="QuantityPerUnit" style="padding-bottom: 5px">QuantityPerUnit</label>
                <input asp-for="QuantityPerUnit" class="form-control" required />
                <span asp-validation-for="QuantityPerUnit" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label asp-for="UnitPrice" style="padding-bottom: 5px">UnitPrice</label>
                <input asp-for="UnitPrice" class="form-control" required />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="UnitsInStock" style="padding-bottom: 5px">UnitsInStock</label>
                <input asp-for="UnitsInStock" class="form-control" required />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="UnitsOnOrder" style="padding-bottom: 5px">UnitsOnOrder</label>
                <input asp-for="UnitsOnOrder" class="form-control" required />
                <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryName" style="padding-bottom: 5px">CategoryName</label>
                <input asp-for="CategoryName" class="form-control" required />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

        </div>
        <div class="row pt-4">
            <div class="col-6">
                <button onclick="createSolution()" type="submit" class="btn btn-primary" style="width:150px">Add</button>
                <a asp-controller="Product" asp-action="GetAllList" class="btn btn-secondary" style="width:150px">Back to solutions</a>
            </div>
        </div>
    </div>


</form>